
.container {
    display: flex; 
    align-items: center;
    justify-content: center;
    height: var(--field-size);
    width: var(--field-size);
}

.box {
    border: 3px solid hsl(var(--clr-light));
    padding: 20px;
    line-height: 1;
}

.flex {
    display: flex;
}